@import "colors";
// General colors
@syntax-text-color: @tone05;
@syntax-cursor-color: @tone05;
@syntax-selection-color: @base01;
@syntax-background-color: @base00

@syntax-text-color: @tone05;
@syntax-cursor-line: @tone04;
@syntax-background-color: @base00;
@syntax-selection-color: @base01;

// Guide colors
@syntax-wrap-guide-color: @base03;
@syntax-indent-guide-color: @base03;
@syntax-wrap-guide-width: "2px";
@syntax-invisible-character-color:@tone03;

// For find and replace markers
@syntax-result-marker-color: @tone06;
@syntax-result-marker-color-selected: @tone06;

// Gutter colors
@syntax-gutter-text-color: @base05;
@syntax-gutter-text-color-selected: @base03;
@syntax-gutter-background-color: @base00;
@syntax-gutter-background-color-selected: @base01;

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: @base0C;
@syntax-color-added: @base0D;
@syntax-color-modified: @base0F;
@syntax-color-removed: @base0E;
